<% if @quotation.errors.any? %>
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><%= pluralize(@quotation.errors.count, "error") %> prohibited
    this user from being saved:</strong>
    <ul>
      <% @quotation.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
</div>
<% end %>

<div class="form-group">
  <%= f.label :recipientId, "Recipient", class: "col-md-3 control-label" %>
  <div class="col-md-7">
    <%= f.collection_select :recipientId, current_user.clients, :id, :recipient, {include_blank: "- Please choose"}, :class => "form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :validUntil, "Valid Until", class: "col-md-3 control-label" %>
  <div class="col-md-7">
    <%= f.text_field :validUntil, :class => "form-control datepicker", value: "#{f.object.validUntil.strftime("%d-%m-%YYYY") unless f.object.new_record?}" %>
  </div>
</div>

<div class="form-group">
  <%= f.label :taxRate, "Tax Rate", class: "col-md-3 control-label" %>
  <div class="col-md-7">
    <div class="input-group">
      <%= f.text_field :taxRate, :class => "form-control", placeholder: "6.5" %>
      <span class="input-group-addon">%</span>
    </div>
  </div>
</div>

<div class="form-group">
  <%= f.label :note, "Note", class: "col-md-3 control-label" %>
  <div class="col-md-7">
    <%= f.text_area :note, :class => "form-control", placeholder: "eg: Payment terms:-  'COD', 'Cash', 'Cash on Delivery', '30 days', 'Full Payment on Delivery', '50% To Start, balance on completion'", rows: 5 %>
  </div>
</div>

<hr>

<h3 class="text-center">Items</h3>

<div class="form-group">
  <div class="col-md-7 col-md-offset-3" id="items">
    <%= f.fields_for :items do |item| %>
      <%= render partial: 'item_fields', locals: {f: item} %>
    <% end %>
    <%= link_to_add_association "Add item", f, :items, class: "btn btn-xs btn-success" %>
  </div>
</div>

<hr>

<div class="form-group">
  <label class="col-md-3 control-label"></label>
  <div class="col-md-7">
    <%= f.button "Submit", :class => "btn btn-primary", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Submitting..." } %>
    <%= link_to 'Cancel', quotations_path, :class => "btn btn-link" %>
  </div>
</div>
